
.content-left{
    float:right;
}

.login{
    float:left;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

button {
    background-color: rgb(85, 207, 255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
div.box{
    width: 300px;
    height:320px;
    padding:20px;
    margin-top:50px;
    border: 1px solid #ccc;
}

hr{
    margin:8px;
    width: 42%;
    float: left;
    color: #ccc;
}

hr.align{
    margin:8px;
    width: 40%;
    float: right;
    color: #ccc;
}

.link{
    color: rgb(5, 5, 141);
    text-decoration: none;
}

.link1{
    color: rgb(23, 23, 95);
    text-decoration: none;
    font-size: 10px;
}

.link2{
    color: rgb(74, 180, 223);
    text-decoration: none;
}

div.box1{
    width: 300px;
    height:40px;
    padding:20px;
    position: relative;
    margin-top: 8px;
    border: 1px solid #ccc;
}

p{
    font-size: 14px;
}

div.footer{
    width: 100%; 
    text-align: center;
    font-size: 12px;
    color: gray;
}

.space{
    padding-right: 10px;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
